# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Netlify & Vercel
.netlify/
.vercel/

# OS metadata
.DS_Store
Thumbs.db
